body {
    background-color: #000000; /* Fundo quase preto para sumir na tela */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#nixie-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw; /* Ocupa toda a largura da janela */
    position: relative; /* <-- A mágica que faz o z-index funcionar */
    z-index: 5;
}

#nixie-container img {
    width: 8vw; /* Cada tubo ocupa 8% da largura da janela */
    max-width: 90px; /* Limite máximo para não estourar em monitores ultrawide */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 1px; /* Margem responsiva entre os tubos */
}

/* Painel invisível que acende com o hover */
#control-panel {
    margin-top: 4vh;
    opacity: 0;
    transition: opacity 0.4s;
    position: relative; /* <-- Garante que o botão fique clicável acima da teia */
    z-index: 5;
}

#control-panel:hover, #control-panel:focus-within {
    opacity: 1.0;
}

#particles-js {
    position: absolute;
    width: 100vw;  /* Força exatamente a largura total do monitor/janela */
    height: 100vh; /* Força exatamente a altura total do monitor/janela */
    top: 0;
    left: 0;
    z-index: 1; /* Fica atrás dos tubos (z-index: 5) e do glitch (z-index: 10) */
    pointer-events: none; /* Garante que as partículas não bloqueiem o clique no botão */
}

.shift-btn {
    background-color: transparent;
    color: #FF8C00;
    border: 1px solid #FF8C00;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
}

.shift-btn:hover {
    background-color: #FF8C00;
    color: #111;
    box-shadow: 0 0 15px #FF8C00;
}